@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #fff;
    margin-left: 6rem;
    height: 50px;  
}

#my-logo {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    border-radius: 4px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

nav {
    margin-left: 20px;
}

li {
    list-style: none;
    margin-left: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

a {
    z-index: 1;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.35rem;
    letter-spacing: 1px;
}

#pro::before, 
#blogs::before, 
#me::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  top: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#pro:hover::before, 
#blogs:hover::before, 
#me:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4rem;
}
