@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #fff;
    margin-left: 6rem;
    height: 50px;  
}

#my-logo {
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    border-radius: 4px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

nav {
    margin-left: 20px;
}

li {
    list-style: none;
    margin-left: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1.35rem;
    letter-spacing: 1px;
}

#pro::before, 
#blogs::before, 
#me::before {
    content: '';
    position: absolute;
    border-radius: 40px;
    top: -10px;
    margin-left: -20px;
    text-align: center;
    background: rgb(255, 255, 255);
    transition: 0.15s;
    color: #fff;
}

a:hover {
    color: #282828;
}

#pro:hover::before, 
#blogs:hover::before, 
#me:hover::before {
    width: 120%;
    height: 100%;
    padding: 12px;
    background: rgba(255, 255, 255);
    color: #282828;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4rem;
}
