@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  color: #fff;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #282828;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(145, 145, 211);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #282828;  /* creates padding around scroll thumb */
}

.names {
  margin-left: 10%;
  display: flex;
}

.photo {
  height: 300px;
  width: 300px;
  border: 2px solid #fff;
  margin-top: 5rem;
  margin-left: 8rem;
  border-radius: 50%;

}

#myphoto {
  border-radius: 50%;
  margin-left: 0.8vw;
  margin-top: 1.5vh;
}


.about-me-card > h4 > p {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    border-bottom: 2px solid #fff;
    color: #ffd;
}

.about-me-card > h4 {
  font-size: 1.5rem;
  font-family: 'GFS Neohellenic', sans-serif;
  margin-top: 5rem;
  color: #e1e1e1;
  padding: 32px;
  border-radius: 20px;
  letter-spacing: 2px;
}

main {
  display: flex;
}

.social-links ul {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  margin-left: 10.8vw;
}

.social-links ul li {
  list-style: none;
  margin: 0 10px;
}

.github, 
.linkedin,
.twitter,
.hashnode {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid #ffd;
  border-radius: 50%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.fa, 
.fa-brands {
  font-size: 17px;
  transition: 0.3s;
  color: #000;
}

.fa:hover, 
.fa-brands:hover {
  color: #fff;
}

.twitter:hover,
.linkedin:hover,
.github:hover,
.hashnode:hover {
  transform: translate(0, -10px);
  transition: 0.2s;
}

.footer {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 14%;
  margin-bottom: 10px;
}

.footer > p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}