@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
  color: #fff;
  text-align: center;
}

.short-intro {
  margin-top: 5%;
  margin-left: 15%;
}

.short-intro > p {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  color: rgb(220, 220, 221, 0.4);
}

main {
  display: flex;
}

.circles {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px dashed #fff;
}

.circles-1 {
  transform: translate(25rem, 15vw);
  background-color: palegreen;
}

.circles-2 {
  transform: translate(30rem, 20vw);
  background-color: #f65f;
}

.circles-3 {
  transform: translate(12rem, 5vw);
  background-color: plum;
}

.social-links {
  width: 20%;
  margin-top: 20vw;
  margin-left: 15rem;
  display: flex;
  align-items: center;
}

.github, 
.linkedin,
.twitter {
  margin-left: 40px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.linkedin:hover, 
.twitter:hover {
  color: rgb(32 135 242);
}

.bi-arrow-right {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 40px;
}

