@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  color: #fff;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #282828;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(145, 145, 211);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #282828;  /* creates padding around scroll thumb */
}

.names {
  margin-left: 10%;
  display: flex;
}


.about-me-card > h4 > p {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    border-bottom: 2px solid #fff;
    color: #a680f1;
}

.about-me-card > h4 {
  font-size: 1.15rem;
  font-family: 'Oxygen', sans-serif;
  margin-top: 5rem;
  color: #e1e1e1;
  padding: 32px;
  border-radius: 20px;
  letter-spacing: 3px;
}

main {
  display: flex;
}

.social-links {
  width: 20%;
  margin-top: 5vw;
  margin-left: 11rem;
  display: flex;
  align-items: center;
}

.github, 
.linkedin,
.twitter,
.hashnode {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  
}

.twitter:hover {
  color: rgb(92, 162, 237);
}

.linkedin:hover {
  color: rgb(28, 102, 181);
}

.hashnode:hover {
  color: #2962FF;
}

.footer {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 10px;
}

.footer > p {
  font-size: 1.2rem;
  font-weight: 600;
}